.container {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	width:867px;
	margin:auto auto;
	font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}
/*rgba(55,152,212,0.8)*/
div{
	text-align:center;
	
}

#dateRow{
	display: flex;
	
}

#quaRow{
	display: flex;
}

#checkRow{
	display: flex;
}
#deathRow{
	display: flex;
}


.normalWidth{
	width:72px;
}

.higherWidth{
	width:216px;
	text-align:left;
}

.vertFlexRow div{
	display: flex;
	flex-direction:column;

}

.vertFlexRow div div{
	display: flex;
	flex-direction:column;

}
.higherWidth img{
	height:20px;
	width:20px;
	margin:3px 0px;
}

#checkRow .normalWidth img {
	height:57px;
}
.time {
	margin-bottom:16px;
	width:72px;
	box-sizing:border-box;
	padding: 16px 4px 0px 4px;
	font-size:10px;
}

.date {
	padding-top:16px;
}

.day {
	margin:4px 0;
}


